body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:white;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(/images/backgroundimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position:relative;
    justify-content: flex-start;
    flex-direction: column;
}
.navbar{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
}
.logo img{
    height: 120px;
    width: 120px;
    margin-top: 10px;
}
.logo h4{
    color: white;
    font-size: 25px;
    margin-top: -6px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: -25px;
}

.submenu {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .submenu li {
    width: 180px;
    height: 40px;
    background-color: white;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  li:hover > .submenu li {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .submenu li:nth-child(1) {
    transition-delay: 0.1s;
  }
  
  .submenu li:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .submenu li:nth-child(3) {
    transition-delay: 0.3s;
  }
      

.navbar .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 0px 20px;
    margin-top: -50px;
}
.navbar .menu ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.navbar .menu ul li a{
    color: white;
    text-decoration: none;
    padding: 0px 45px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.menu ul li a:hover{
    padding-bottom: 11px;
    border-bottom: 4px solid black;
    color: blue;   
}
label{
    display: none;
    font-size: 25px;
    color: white;
    cursor: pointer;          
}
label:hover{
    color: #ed7218;
}
#check{
    display: none;
    z-index: 3;
}
.content{
    margin: 100px 100px;
    justify-content: space-between;
    display: flex;
}
.content .article{
    max-width: 500px;
    color: white;
}
.content .article h1{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.content .article p{
    font-size: 18px;
    margin: 20px opx;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content .article .button{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    color: white;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ed7218;
    border-radius: 8px;
    letter-spacing: 1.5px;
}
.content .article .button:hover{
    color: #ed7218;
    background-color: white;
    transition: 0.5s ease;
}
.content .social-media i{
    color: white;
    padding: 0px 8px;
    font-size: 30px;
}
.content .social-media i:hover{
    color: #ed7218;
    transition: 0.5s ease;
}
.content .social-media{
    margin-top: 30px;
}

.form{
    width: 300px;
    height: 320px;
    background-color: #ed7218;
    margin-top: -10px;
    border-radius: 10px;
}
.heading{
    font-size: 25px;
    font-weight: 700;
    margin-left: 70px;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 20px;
}
.form-inputs input{
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    border: none;
}
.form-content{
    margin-left: 70px;
}
.form-content a{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
}

@media screen and (max-width:992px) {
    .navbar .menu{
        display: none;
    }
    label{
        display: block;
    }
    label .close-btn{
        display: none;
    }
    #check:checked ~ .navbar .menu{
        z-index: 2;
        position: fixed;
        top: 0;
        bottom:0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: #404c61;
        text-align: center;
    }
    .navbar .menu ul{
        flex-direction: column;
    }
    .navbar .menu ul li{
        padding: 20px 0px;
    }
    .menu ul li a:hover{
        color: white;   
    }
    #check:checked ~ .navbar label .menu-btn{
        display: none;
    }
    #check:checked ~ .navbar label .close-btn{
        display: block;
        z-index: 2;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
    }
    .navbar .logo{
        bottom: -12px;
    }
    .content .article h1{
        font-size: 35px;
    }
    .content .article a{
        font-size: 18px;
        padding: 8px 30px;
    }
    .content .social-media i{
        font-size: 25px;
    }
    .content{
        flex-direction: column;
    }
    .form{
        margin-top: 20px;
    }
}

@media screen and (max-width:992px) {
    .navbar ,.logo{
        font-size: 22px;
    }
    .content .article h1{
        font-size: 30px;
    }
    .content .article a{
        font-size: 20px;
        padding: 8px 5px;
    }
}

